<%= render "shared/breadcrumbs" %>

<h1 class="usa-heading">RVC Data Portal</h1>
<p>
  The Southeast Fisheries Science Center, along with other governmental, academic, and private partners, has been conducting a visual survey of reef fish species in the Florida Keys since 1978. This survey has since been expanded to include the Dry Tortugas, Southeast Florida Region and U.S Caribbean. All the data from this survey collected since 1999 is now available as .csv files for general use as part of this data portal.  To learn more about the history, sampling design, and statistical design of the survey, please read <a class="usa-link usa-link--external" rel="noreferrer" href="https://doi.org/10.1016/j.fishres.2011.01.012" target="_blank">Smith <i>et al.</i> 2011</a>.
</p>

<h2 class="usa-heading">Available Data</h2>
<ul class="usa-collection">
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading"><%= link_to "Sample Data", samples_path, class: "usa-link" %></h3>
      <p class="usa-collection__description">
        Diver sampled data, including: species counts, lengths (in cm), and geographic data, such as latitude and longitude in decimal degrees.
      </p>
    </div>
  </li>
  <li class="usa-collection__item">
    <div class="usa-collection__body">
      <h3 class="usa-collection__heading"><%= link_to "Benthic Data", benthic_path, class: "usa-link" %></h3>
      <p class="usa-collection__description">
        Benthic data collected during reef visual census, including information on coral cover and hard/soft vertical relief. 
      </p>
    </div>
  </li>
</ul>