<%= link_to '<< Data Portal Home', controller: :home, action: :index %>
<h3>Taxonomic Data</h3>
<p> Taxonomic and life history data for all species in the Reef Visual Census. To download,
  click the download button. Available as a comma-separated values file (csv).
</p>
<%= form_tag '/taxa.csv',  method: "get",
target: '_blank', class: "data-form form-inline" do %>
  <%= submit_tag 'Download', class: 'btn btn-default' %>
<% end %>
<h3>Variables</h3>
<ol>
  <li>SPECIES_CD: The first three letters of the generic name and first four
  of the specific name.</li>
  <li>SCINAME: The scientific name.</li>
  <li>COMNAME: The common name.</li>
  <li>LC: Minimum length at capture, in centimeters.</li>
  <li>LM: Median length at maturity, in centimeters.</li>
  <li>WLEN_A: The linear coefficient of the allometric growth equation in
  grams per millimeter (g/mm)</li>
  <li>WLEN_B: The exponential coefficient of the allometric growth equation.</li>
</ol>
