/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
  $theme-font-path: "",
  $theme-image-path: "",
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  $theme-site-margins-width: 2,
);
